<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.allthingsgeek.celljoust"
  android:versionCode="1"
  android:versionName="1.0">
  <application
    android:icon="@drawable/icon"
    android:label="@string/app_name"
    android:allowBackup="true">
    <activity
      android:name=".MainActivity"
      android:launchMode="singleTop"
      android:screenOrientation="landscape"
      android:label="@string/app_name"
      android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN"/>
        <category
          android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
      android:name="SetupActivity"
      android:noHistory="true">
      <intent-filter>
        <action
          android:name="android.intent.action.VIEW"></action>
      </intent-filter>
    </activity>
      <activity
      android:name="ServoConfigActivity"
      android:noHistory="true">
      <intent-filter>
        <action
          android:name="android.intent.action.VIEW"></action>
      </intent-filter>
    </activity>
  </application>

  <uses-permission
    android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>

  <uses-permission
    android:name="android.permission.CAMERA"/>
  <uses-permission
    android:name="android.permission.INTERNET"/>
  <uses-permission
    android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission
    android:name="android.permission.BLUETOOTH"/>
  <uses-permission
    android:name="android.permission.BLUETOOTH_ADMIN"/>

  <uses-sdk
    android:targetSdkVersion="8"
    android:minSdkVersion="8"/>
  <uses-permission
    android:name="android.permission.WAKE_LOCK"></uses-permission>
</manifest> 