.titletable {
  background: #ccefff;
  width: 620px;
  padding: 10px;
}

.maintable {
  width: 500px;
}

.title {
  font-family:arial;
  font-size:18px;
  text-align:right;
  padding-right: 100px;
}

.preview {
  align:center;
  padding:10px;
  border-style:solid;
  border-width:2px;
  border-color:#aaaaaa;
}

.buttons_cell {
  font-family:arial;
  background:#aaaaaa;
  padding:5px;
}

.button {
  text-decoration:none;
  padding:5px;
  background:#ccefff;
}

.persona {
  border-style:solid;
  border-width:2px;
  border-color:#7799ff;
  padding:10px;
}

.persona_selected {
  border-style:solid;
  border-width:2px;
  border-color:#990000;
  padding:10px;
}

.tips {
  font-family:arial;
  font-size:12px;
  padding-right: 100px;
  background:#dddddd;
}

.personas_div {
  background:#dddddd;
}